@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #2E748F, #153A49);
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.recorder {
  position: relative;
}

.waveform {
  position: relative;
  padding: 4rem 0;
}
.waveform__canvas {
  width: 100%;
  height: 12.8rem;
}

.toolbar {
  text-align: center;
}

.button {
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  margin: 0 1rem;
  padding: 0;
  background: #ffffff;
  border-radius: 50%;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 4rem;
  cursor: pointer;
}
.button--record::before {
  animation: spin 4s linear infinite;
  transition: opacity 0.4s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  margin: -0.4rem;
  padding: -0.4rem;
  background: transparent;
  opacity: 0;
  border-radius: 50%;
  border: 0.4rem solid rgba(46, 116, 143, 0.8);
  border-top-color: rgba(46, 116, 143, 0);
}
.button--record.button--active {
  background: #ED6A5F;
  color: #ffffff;
}
.button--record.button--active::before {
  opacity: 1;
}
.button--play.button--active {
  background: #49F1D5;
  color: #ffffff;
}
.button--disabled {
  opacity: 0.2;
  pointer-events: none;
  cursor: not-allowed;
}

.audio {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: 0;
}

.message {
  transition: opacity 0.4s ease-in-out;
  padding: 1rem 2rem;
  background: #ED6A5F;
  opacity: 0;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  line-height: 1.5;
}
.message--visible {
  opacity: 1;
}

.player-wrapper {
  padding-top: 20px;
  position: relative;
  width: 270px;
  margin: auto;
}

.piano-roll-container {
  width: 1136px;
  margin: 20px auto 0 auto;
  position: relative;
}
.piano-roll-container .piano-roll {
  width: 100%;
  position: relative;
  height: 60px;
}
.piano-roll-container .tuts-white {
  background-color: #FFFFFF;
  border-right: 1px solid #DDDDDD;
  box-sizing: border-box;
  position: absolute;
  height: 60px;
}
.piano-roll-container .tuts-white.note-on {
  background-color: rgb(188, 253, 37);
}
.piano-roll-container .tuts-black {
  background-color: #111111;
  border-right: 1px solid #DDDDDD;
  box-sizing: border-box;
  position: absolute;
  height: 30px;
}
.piano-roll-container .tuts-black.note-on {
  background-color: rgb(243, 150, 11);
}
.piano-roll-container .min-max-slider {
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: 35px;
  text-align: center;
}
.piano-roll-container .min-max-slider .input-bar {
  height: 10px;
  width: 100%;
  background-color: rgb(236, 236, 236);
  display: block;
}
.piano-roll-container .min-max-slider input {
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  outline: none;
  height: 10px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.piano-roll-container .min-max-slider input::-webkit-slider-thumb,
.piano-roll-container .min-max-slider input::-moz-range-thumb {
  pointer-events: all;
  z-index: 10;
  outline: 0;
  height: 24px;
  width: 10px;
  border-radius: 0px;
}
.piano-roll-container .min-max-slider input[type=range].input-min::-webkit-slider-thumb,
.piano-roll-container .min-max-slider input[type=range].input-min::-moz-range-thumb {
  background-color: rgb(18, 52, 68);
}
.piano-roll-container .min-max-slider input[type=range].input-max::-webkit-slider-thumb,
.piano-roll-container .min-max-slider input[type=range].input-max::-moz-range-thumb {
  background-color: rgb(97, 66, 66);
}
.piano-roll-container .min-max-slider input::-moz-range-track {
  background: transparent;
}
.piano-roll-container .metronome-container {
  padding-bottom: 20px;
}
.piano-roll-container .metronome {
  position: relative;
  margin: auto;
}
.piano-roll-container .metronome.metronome-pie {
  width: 48px;
  height: 48px;
  background-color: rgb(235, 235, 235);
  border-radius: 24px;
}
.piano-roll-container .metronome.metronome-pie-4-4[data-step="1"] {
  background-image: conic-gradient(rgb(255, 115, 0) 0%, rgb(255, 115, 0) 25%, rgb(235, 235, 235) 25%, rgb(235, 235, 235) 100%);
  border-radius: 50%;
}
.piano-roll-container .metronome.metronome-pie-4-4[data-step="2"] {
  background-image: conic-gradient(rgb(235, 235, 235) 0%, rgb(235, 235, 235) 25%, rgb(255, 115, 0) 25%, rgb(255, 115, 0) 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235) 100%);
  border-radius: 50%;
}
.piano-roll-container .metronome.metronome-pie-4-4[data-step="3"] {
  background-image: conic-gradient(rgb(235, 235, 235) 0%, rgb(235, 235, 235) 50%, rgb(255, 115, 0) 50%, rgb(255, 115, 0) 75%, rgb(235, 235, 235) 75%, rgb(235, 235, 235) 100%);
  border-radius: 50%;
}
.piano-roll-container .metronome.metronome-pie-4-4[data-step="0"] {
  background-image: conic-gradient(rgb(235, 235, 235) 0%, rgb(235, 235, 235) 75%, rgb(255, 115, 0) 75%, rgb(255, 115, 0) 100%, rgb(235, 235, 235) 100%);
  border-radius: 50%;
}
.piano-roll-container .metronome.metronome-pie-4-4 span {
  text-align: center;
  font-size: 12px;
  display: inline-block;
  padding: 5px 5px;
  position: absolute;
  width: 24px;
  height: 24px;
  text-align: center;
  box-sizing: border-box;
}
.piano-roll-container .metronome.metronome-pie-4-4 span.on {
  color: #ffffff;
}
.piano-roll-container .metronome.metronome-pie-4-4 span[data-index="1"] {
  left: 24px;
  top: 0px;
  padding-top: 6px;
}
.piano-roll-container .metronome.metronome-pie-4-4 span[data-index="2"] {
  left: 24px;
  top: 24px;
  padding-top: 2px;
}
.piano-roll-container .metronome.metronome-pie-4-4 span[data-index="3"] {
  left: 0px;
  top: 24px;
  padding-top: 2px;
}
.piano-roll-container .metronome.metronome-pie-4-4 span[data-index="0"] {
  left: 0px;
  top: 0px;
  padding-top: 6px;
}/*# sourceMappingURL=css.css.map */